.contents__right__center__upper_box
  .name 
    = message.user.name
  .date
    = message.created_at.strftime("%Y/%m/%d %H:%M") 
.contents__right__center__down_box
  - if message.content.present?
    %P.message 
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?