.contents
  .contents__left
    .contents__left__header
      %p.contents__left__header__user-name
        test
      %ul.contents__left__header__menu
        %li.contents__left__header__menu_icon
          =fa_icon 'edit'
        %li.contents__left__header__menu_icon
          =fa_icon 'cog'
    .contents__left__group-box
      %p.contents__left__group-box__group-name
        Aグループ
      %p.contents__left__group-box__latest-message
        testtesttest
  .contents__right
    .contents__right__header
      %h1.contents__right__header__group-name
        Aグループ
      .contents__right__header__edit-btn
        Edit
      %ul.contents__right__header__member-list
        aaaaaaaaa
    .contents__right__footer
      .contents__right__footer__message_type
        type a message
      .contents__right__footer__upper-info
        Send
