html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



header {
  background-color: #38AEF0;
  height: 22px;
  width: 100%;
}


.contents {
  background-color: white;
  height: 100%;
  margin: auto;
  display: flex;

  &__left {
    height: calc(100vh - 96px);
    width: 300px;
    z-index: 10;
    &__header {
      display: flex;
      justify-content: space-between;
      background-color:#253141;
      height: 96px;
      width: 100%;
      z-index: 30;
      
      &__menu{
        display: flex;
        color: white;
        margin: 40px 10px;
      }
      &__user-name{
        color: #FFFFFF;
        font-size: 16px;
        margin: 40px 0 40px 40px;
      }
    }
    &__group-box{
      position: relative;
      background-color: #2f3e51;
      height: 100%;
      width: 100%;
      overflow: scroll;
      &__group{
      height: 90px;
      width: 300px;
      padding: 20px 0 20px 0;
        &__name{
        color: #FFFFFF;
        font-size: 15px;
        display: block;
        margin-left: 40px;     
        }
        &__message{
        color: #FFFFFF;
        font-size: 11px;
        display: block;
        margin-left: 40px;
        }
      }
    }
  }
  
  &__right {
    background-color:#fafafa;
    position: relative;
    height: 100%;
    width: calc(100vw - 300px);
    &__header{
      background-color:white;
      height: 96px;
      width: 100%;
      position: relative;
      display: flex;
      &__group-name{
        margin: 35px 0 27px 40px;
        color: #333333;
        font-size: 20px;
      }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
      }
      &__member-list{
        font-size: 12px;
        color: #999999;
        margin-top:75px;
        margin-left: 40px;
        position: absolute;
      }
    }
    &__footer {
      height: 90px;
      position: absolute;
      background-color: grey;
      width: 100%;
      bottom: 0;
      // display: flex;


      
      .form__message{
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 20px 0px 20px 40px;
        color:434A54;
        font-size :16px;
        line-height:50px;
        padding: 0 10px;
      }

      &__image_btm{
          height: 50px;
          width: 40px;
          margin: 20px 0px 20px 0px;
          line-height:50px;
          background-color: white;
      }
      &__upper-info{
        height: 50px;
        background-color: #38AEF0;
        margin: 20px 40px 20px 15px;
        font-size:20px;
        color:white;
        line-height:50px;
        padding:0 20px
      }
    }
  }
}
;
.contents__right__footer__image{
  display: flex
}

.hidden{
  display: none;
}

.contents__right__center{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.contents__right__center__upper_box{
  padding-bottom: 20px;
  display: flex;
  &__name{
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
  
  }
  &__date{
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
  }
  &__message{
    color: #434a54;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__src{
    border: 0;
  }
  
}

.contents__right__center__down_box{
  padding-bottom: 40px;
}


